*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
    height: 100vh;
    /* font-family: sans-serif; */
}
nav{
    width: 100%;
    height: 50px;
    background-color: rgb(12, 12, 24);
    display: flex;
    align-items: center;
    color: #fff;
}
.p1{
    margin-left: 20px;
}
.fa-bars{
    margin-left: 20px;
}
.ilg{
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    background-image: url("./61TD5JLGhIL._SX3000_.jpg");
    /* background-position: down; */
    background-size: cover;
    background-repeat: no-repeat;
}
.mno{
    width: 100%;
    height: 700px;
    background-color: lightgray;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 30px;
}
.box{
    width: 300px;
    height: 330px;
    background-color: #fff;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.myfon{
    width: 240px;
    height:240px;
    object-fit: cover;
    margin-top: 15px;
}
.xurshid{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.logik{
    width: 100%;
    height: 150px;
    border: 1px solid lightgrey;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.nh{
    width: 150px;
    height: 30px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.hn{
    list-style: none;

}
.footernav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(12, 12, 24);
    color: #fff;
    justify-content: center;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: rgb(38, 38, 61);
    display: flex;
}
.nike{
    width: 25%;
    height: 100%;
    border: 1px sold red;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
    color: #fff;
    justify-content: space-around;
}
.oxir{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: rgb(38, 38, 61);
    align-items: center;
}
.tova{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}